*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;


}

.button{
   
   
   background-color: #3EC6F0;
   border-radius: 1.375rem;
   text-decoration: none;
   color: #FFFFFF; 
   padding: 0.9rem 2rem;
   opacity: 100%;
}

 

.button:hover{
    opacity: 80%;
}




/*Navbar*/


.main_container{
    margin-left: 79.18px;
    margin-right: 79.18px;
}


.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    

}

.nav_list ul{
    display: flex;
    list-style: none;
    
}

.nav_list ul li a{
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    margin: 13px 30px 14px 30px;
    font-size: 14px;
    color: black;
    opacity: 50%;

}

.nav_list ul li a:hover{
    opacity: 100%;
}




/*Hero Section*/



.hero_section{
    background-image: url(./assets/Group\ 12532.png);
    margin-top: 64px;
    height: 530px;
    position: relative;
    background-repeat: no-repeat;

}

.hero_section .hero_section_content{
    position: absolute;
    top: 34%;
    width: 30%;
    padding: 1rem;
}

.hero_section img{
    width: 100%;
}


/*Why we are best */

.info_one_heading{
    padding-top: 20px;
    position: relative;
}

.img_button0{
    position: absolute;
    padding-left: 20px;
    bottom: 10px;
}

.info_one{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.info_one p{
    padding: 0 12px 12px 12px;
}

.info_one h1{
    padding: 12px;
}

.btn:hover{
    opacity: 70%;
}

.info_one_icon{
    margin-left: 30px;
    border: 1px solid #E5E5E5;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 4px 4px 0px 0px;
}

.info_one_icon:hover{
    border: 2px solid #E5E5E5;
}

.info_one_icon img{
    padding-left: 12px;
}

/*Our Core Servcies*/

.info_two{
    margin-top: 80px;
}

.info_two_list{
    margin-top: 15.7px;
}

.info_two_list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.info_two_list button{
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: black;
    opacity: 50%;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.info_two_list button:hover{
    opacity: 100%;
}



.card img{
  width: 100%;
}



/*Tabs*/

.tabcontent{
    width: 100%;
    display: none;
    margin-top: 44px;
    
}

.tabcontent .card{
    position: relative;
    margin-left: 30px;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 0px 0px;
    
}

.tabcontent .card:hover{
    border: 2px solid #E5E5E5;
}



.tabcontent .card h1{
    padding: 12px;
}

.tabcontent .card p{
    padding: 0 12px 12px 12px;
}



.info_two_list button{
    font-size: 16px;
}

.info_two_list button.active{
    opacity: 100%;
}


.img_btn{
    position: absolute;
    bottom: -20px;
    left: 45%;
}

.img_btn:hover{
    opacity: 70%;
}

.tablink{
    border: none;
    background-color: #FFFFFF;
}


/*About Us*/

.info_three{
    margin-top: 74px;
    background-image: url("/assets/Group\ 12531.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 380px;
}

.info_three_content{
    padding-right: 400px;
    padding-left: 25px;
}





/*Get Started with us*/

.info_four{
    background-color: #121137;
    
}

.info_four_sub{
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    margin-bottom: 30px;
    padding-bottom: 40px;
    color: #FFFFFF;
    
    
    
}

.info_four_sub_content{
    
    width: 55%;
}

.btn{
    padding-top: 37px;
    
}


.footer{
    
    border-top: 1px solid #FFFFFF;
    padding-top: 40px;
    
}

 .footer_list{
    padding: 0 100px;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
    
    
   
}



.footer .footer_list a{
    
    
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
}




